<div class="container">

  <div class="text-center" *ngIf="cartData.data[0].numInCart === 0">
    <h4>Your Cart is empty!</h4>
    <button class="btn btn-lg btn-primary mt-3" routerLink = "/">Go back to Shopping!</button>
  </div>

  <ng-container *ngIf="cartData.data[0].numInCart !== 0">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead class="table-dark">
            <tr class="text-center">
              <th>Image</th>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Subtotal</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor = "let c of cartData.data">
              <td>
                <img [src]="[c.product.image]" alt="" height="60">
              </td>
              <td>
                <p>{{ c.product. name}}</p>
              </td>
              <td>
                {{ c.product.price }}
              </td>
              <td>
                <form>
                  <div class="value-button">
                    <i class="fa fa-minus"></i>
                  </div>
                  <input type="number" name="quantity" id="number" [value]="c.numInCart" readonly [min]="0">
                  <div class="value-button">
                    <i class="fa fa-plus"></i>
                  </div>
                </form>
              </td>

              <td>
                {{'SUBTOTAL'}}
              </td>

            </tr>

            <tr class="border-0">
              <td style="border: none;"></td>
              <td></td>
              <td></td>
              <td>TOTAL</td>
              <td>{{cartTotal | currency:'USD'}}</td>

            </tr>

          </tbody>
        </table>
      </div>

      <div class="col-md-12 d-flex mb-5">
        <div class="buttons-container" style="width: 100%;">
          <a class="btn btn-lg btn-danger" routerLink = "/checkout">Check Out</a>
          <a class="btn btn-lg btn-primary" routerLink = "/" style="float: right;">Shop more</a>
        </div>
      </div>

    </div>



  </ng-container>





</div>
