<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- Product main img -->
      <div class="col-md-5 col-md-push-2">
          <ng-template [ngIf] = "images.length !== 0">
            <div id="product-main-img">
                <div class="product-preview" *ngFor = "let image of images">
                  <img [src]="[image]" alt="{{ product.name }}">
                </div>
            </div>
          </ng-template>

          <ng-template [ngIf] = "images.length === 0">
            <div id="product-main-img">
                <div class="product-preview">
                  <img [src]="[product.image]" alt="{{ product.name }}">
                </div>
            </div>
          </ng-template>


      </div>
      <!-- /Product main img -->

      <!-- Product thumb imgs -->
      <div class="col-md-2 col-md-pull-5">

        <ng-template [ngIf] = "images.length !== 0">
          <div id="product-imgs">
              <div class="product-preview" *ngFor = "let image of images">
                <img [src]="[image]" alt="{{ product.name }}">
              </div>
          </div>
        </ng-template>

        <ng-template [ngIf] = "images.length === 0">
          <div id="product-imgs">
              <div class="product-preview">
                <img [src]="[product.image]" alt="{{ product.name }}">
              </div>
          </div>

        </ng-template>

      </div>
      <!-- /Product thumb imgs -->

      <!-- Product details -->
      <div class="col-md-5">
        <div class="product-details">
          <h2 class="product-name">{{ product.name }}</h2>
          <div>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
          </div>
          <div>
            <h3 class="product-price">{{ product.price | currency:'USD'}}</h3>
            <span class="product-available">{{ product.quantity > 0 ? 'In Stock' : 'Out Of Stock'}}</span>
          </div>
          <p>{{ product.description }}</p>


          <div class="add-to-cart">
            <div class="qty-label">
              Qty
              <div class="input-number">
                <input
                  type="number"
                  value="{{ product.quantity > 0 ? 1 : 0}}"
                  #quantity
                  readonly>
                <span class="qty-up" (click)="increase()">+</span>
                <span class="qty-down" (click)="decrease()">-</span>
              </div>
            </div>
            <button

              [disabled] = "product.quantity == 0"
              [ngClass] = "product.quantity > 0 ? 'add-to-cart-btn' : 'no-stock'"
              (click)="addToCart(product.id)"><i class="fa fa-shopping-cart"></i> add to cart</button>
          </div>



          <ul class="product-links">
            <li>Category:</li>
            <li><a href="#">{{ product.category }}</a></li>
          </ul>

          <ul class="product-links">
            <li>Share:</li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
          </ul>

        </div>
      </div>
      <!-- /Product details -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->


